a{
    text-decoration: none;
}

p{
    font-size: 1.5vw;
}
h1{
    font-size: 3vw;
}
.ubsans-normal {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 475;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.ubsans-italic {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 475;
    font-style: italic;
    font-variation-settings:
        "wdth" 100;
}

.ubsans-bold {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.ubsans-bold-italic {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: italic;
    font-variation-settings:
        "wdth" 100;
}

.briem-light {
    font-family: "Briem Hand";
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

.colorRose{
    color: #96616bff;
}
.bkgColorRose{
    background-color: #96616bff;
}

.colorCbBlue{
    color: #94c9a9ff;
}
.bkgColorCbBlue{
    background-color: #94c9a9ff;
}

.colorThistle{
    color: #EBA4B2;
}
.bkgColorThistle{
    background-color: #EBA4B2;
}

.colorDSGray{
    color: rgb(24, 28, 28);
}
.bkgColorDSGray{
    background-color: rgb(24, 28, 28);
}

.colorCharcoal{
    color: #838177;
}
.bkgColorCharcoal{
    background-color: #838177;
}


.BorderLightGrey2{
    border-radius: 30px;
    border-style: solid;
    border-color:#838177;
    border-width: 2px;
    margin: 40px;
    text-align: center;
    /* background-color: #83817722; */
    padding:5px;
}

.HeaderCont{
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: antiquewhite;
}
.HeaderItem{
    padding: 8px;
    padding-left: 20px;;
    padding-right: 20px;
    color:rgb(15, 14, 16);
    font-weight: bold;
    font-size: 2vw;
    /* border-left: solid 1px rgb(141, 133, 122); */
}
.HeaderItem:hover{
    transition: .25s;
    background-color: rgb(175, 165, 152);
    color:rgb(15, 14, 16);
    
    /* border-left: solid 1px rgb(141, 133, 122); */
}
.simpleFlexCont{
    display: flex; 
    justify-content: center;
}
.SimpButton{
    border-radius: 20px;
    background-color: antiquewhite;
    color:rgb(15, 14, 16);
    width: fit-content;
    padding: 10px;
    font-size: 1.75vw;
    margin-left: auto;
    margin-right: auto;
}
.SimpButton:hover{
    transition: .25s;
    background-color: rgb(175, 165, 152);
}


div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }

  img{
    width: 100%;
  }